:root {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;

  color-scheme: light /* dark */;
  /* scrollbar-gutter: stable; */
  overflow-x: hidden;
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
}

.resume-builder {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 448px;
  margin: 96px auto;
  padding: 0 24px;
}

.resume-builder div {
  display: flex;
  gap: 24px;
}

.resume-builder label {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  gap: 6px;
  width: 100%;
}

.resume-builder div > label,
.resume-builder div > input {
  flex: 1;
  width: auto;
}

.resume-builder label span {
  font-size: 16px;
  user-select: none;
  -webkit-user-drag: none;
}

.resume-builder input,
.resume-builder textarea {
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #A0A0A0;
  font-size: 16px;
}

.resume-builder input[type="button"] {
  background: #F0F0F0;
  border: none;
  cursor: pointer;
}

.resume-builder ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0;
  list-style-type: none;
}

.resume-builder ul:empty {
  display: none;
}

.resume-builder ul li:not(:last-child) {
  padding-bottom: 16px;
  border-bottom: 1px solid #E0E0E0;
}

.resume-builder textarea {
  resize: vertical;
}

.resume-builder fieldset {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  padding: 0;
  padding-top: 16px;
  border: none;
}

.resume-builder fieldset legend {
  padding: 0;
  font-size: 20px;
  font-weight: 600;
  user-select: none;
  -webkit-user-drag: none;
}

.resume-builder__title {
  width: 1264px;
  height: 33px;
  line-height: normal;
  user-select: none;
  -webkit-user-drag: none;
}



.resume-wrapper {
  display: flex;
  align-items: stretch;
  max-width: 900px;
  margin: 0 auto;
}

.resume--primary {
  width: 256px;
  padding: 16px;
  color: #FFFFFF;
  background: #6495ED;
}

.resume--primary hr {
  height: 1px;
  background: #FFFFFF;
  border: none;
}

.resume--primary .resume_group:has(.resume__photo) {
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 12px;
}

.resume--primary .resume_group:not(:first-child) {
  padding-bottom: 12px;
}

.resume--primary .resume_group--personals {
  padding-bottom: 10px;
}

.resume--primary .resume_group--personals .resume_field:not(:last-child) {
  margin-bottom: 14px;
}

.resume--primary .resume_group--personals .resume_field__title {
  font-size: 13.3px;
  font-weight: 700;
  line-height: 16.32px;
}

.resume--primary .resume_group--personals .resume_field__extra {
  font-size: 12.5px;
  font-weight: 400;
  line-height: 15.84px;
}

.resume--primary .resume_group--interests {
  padding-bottom: 9px;
}

.resume--primary .resume_group--interests .resume_field {
  margin-top: 1px;
}

.resume--primary .resume_group--languages {
  padding-bottom: 5px;
}

.resume--primary .resume_group--languages .resume_field {
  margin-top: -7px;
}

.resume--primary .resume_field:not(:last-child) {
  margin-bottom: 11px;
}

.resume--primary .resume_field:last-child > *:last-child {
  margin-bottom: 0;
}

.resume--primary .resume_group__title {
  padding: 14.5px 0;
}

.resume--primary .resume_group .resume_field:nth-child(3) {
  padding-top: 13px;
}

.resume--primary .resume_group .resume_field__title {
  font-size: 13.3px;
  font-weight: 700;
  line-height: 16.32px;
}

.resume--primary .resume_field:nth-child(3) {
  padding-top: 2px;
}

.resume--primary .resume_group--languages .resume_field {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.resume--primary .resume__photo {
  width: 200px;
  height: 200px;
  border-radius: 50vh;
  object-fit: cover;
  object-position: center;
}

.resume--secondary {
  flex: 1;
  padding: 16px;
  padding-top: 0;
  background: #F8F8F8;
}

.resume--secondary hr {
  height: 1px;
  background: #D3D3D3;
  border: none;
}

.resume--secondary .resume_group {
  margin-bottom: -3.5px;
}

.resume--secondary .resume_group__title {
  padding: 15px 0;
  font-size: 15.9px;
  font-weight: 700;
  line-height: 19.2px;
}

.resume--secondary .resume_group--interview .resume_group__title {
  padding: 27px 0;
  font-size: 27.9px;
  font-weight: 700;
  line-height: 33.6px;
}

.resume--secondary .resume_group--interview .resume_field__extra {
  padding: 14px 0 11px;
  font-size: 12.5px;
  font-weight: 400;
  line-height: 15.84px;
}

.resume--secondary .resume_field > header {
  display: flex;
  align-items: center;
}

.resume--secondary :not(.resume_group--interview) .resume_field {
  padding-top: 20px;
}

.resume--secondary .resume_field > header .resume_field__title {
  flex: 1;
  font-size: 13.3px;
  font-weight: 700;
  line-height: 16.32px;
}

.resume--secondary .resume_field > header .resume_field__date {
  font-size: 12.5px;
  font-weight: 400;
  line-height: 15.84px;
}

.resume--secondary .resume_field__place {
  margin-bottom: 16.5px;
  font-size: 13.5px;
  font-weight: 400;
  font-style: italic;
  line-height: 16.32px;
}

.resume--secondary .resume_field__extra {
  font-size: 13px;
  font-weight: 400;
  line-height: 15.84px;
}

.resume--secondary .resume_group--jobs {
  padding-bottom: 22px;
}

.resume--secondary .resume_group--educations {
  padding-bottom: 23px;
}

.resume--secondary .resume_group--courses .resume_field__place {
  margin-bottom: -1.5px;
}
