:root {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;

  color-scheme: light /* dark */;
  /* scrollbar-gutter: stable; */
  overflow-x: hidden;
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
}

.resume-builder {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 448px;
  margin: 96px auto;
  padding: 0 24px;
}

.resume-builder div {
  display: flex;
  gap: 24px;
}

.resume-builder label {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  gap: 6px;
  width: 100%;
}

.resume-builder div > label,
.resume-builder div > input {
  flex: 1;
  width: auto;
}

.resume-builder label span {
  font-size: 16px;
  user-select: none;
  -webkit-user-drag: none;
}

.resume-builder input,
.resume-builder textarea {
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #A0A0A0;
  font-size: 16px;
}

.resume-builder input[type="button"] {
  background: #F0F0F0;
  border: none;
  cursor: pointer;
}

.resume-builder ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0;
  list-style-type: none;
}

.resume-builder ul:empty {
  display: none;
}

.resume-builder ul li:not(:last-child) {
  padding-bottom: 16px;
  border-bottom: 1px solid #E0E0E0;
}

.resume-builder textarea {
  resize: vertical;
}

.resume-builder fieldset {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  padding: 0;
  padding-top: 16px;
  border: none;
}

.resume-builder fieldset legend {
  padding: 0;
  font-size: 20px;
  font-weight: 600;
  user-select: none;
  -webkit-user-drag: none;
}

.resume-builder__title {
  width: 1264px;
  height: 33px;
  line-height: normal;
  user-select: none;
  -webkit-user-drag: none;
}



.resume-wrapper {
  display: flex;
  align-items: stretch;
  width: 900px;
  margin: 0 auto;
}

.resume--primary {
  width: 256px;
  padding: 16px;
  color: #FFFFFF;
  background: #6495ED;
}

.resume--primary hr {
  height: 1px;
  background: #FFFFFF;
  border: none;
}

.resume--primary .resume_group:has(.resume__photo) {
  width: fit-content;
  margin: 0 auto;
}

.resume--primary .resume_group:not(:first-child) {
  margin-top: 16px;
  padding-bottom: 12px;
}

.resume--primary .resume_group__title {
  padding: 13px 0;
}

.resume--primary .resume_field {
  padding-top: 9px;
}

.resume--primary .resume_field:nth-child(3) {
  padding-top: 18px;
}

/* .resume--primary .resume_field__title {
  width: fit-content;
} */

.resume--primary .resume_field__extra {
  font-size: 12.5px;
  line-height: 15.84px;
}

.resume--primary .resume_group--languages .resume_field {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.resume--primary .resume__photo {
  width: 200px;
  height: 200px;
  border-radius: 50vh;
  object-fit: cover;
  object-position: center;
}

.resume--secondary {
  flex: 1;
  padding: 16px;
  background: #F8F8F8;
}

.resume--secondary hr {
  height: 1px;
  background: #D3D3D3;
  border: none;
}
